<div class="login-content">
	<h1>Login:</h1>
		<form (ngSubmit)="login()">
			<div class="login-form">
					<label for="username-input">username</label>
					<input type="text" class="login-input-text" 
							id="username" name="username" [(ngModel)]="userInput" />
					<label for="password-input">password</label>
					<input type="password" class="login-input-text" 
							id="password" name="password" [(ngModel)]="pwdInput" />
					<button type="submit" class="login-btn"><span>Login</span></button>
			</div>
		</form>
	<div *ngIf="displayError" class="error-login">
		<span>Login error, credentials are not valid</span>
	</div>
</div>